[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "wkhtmltopdf"]
	path = wkhtmltopdf
	url = https://github.com/monetate/wkhtmltopdf.git
[submodule "giflib"]
	path = giflib
	url = http://git.code.sf.net/p/giflib/code
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/jacobsa/jsoncpp.git
