[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "giflib"]
	path = giflib
	url = http://git.code.sf.net/p/giflib/code
[submodule "jsoncpp"]
	path = jsoncpp
        url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "statsd-client-cpp"]
	path = statsd-client-cpp
	url = https://github.com/moseymosey/statsd-client-cpp
[submodule "qt"]
	path = qt
	url = https://github.com/moseymosey/qt
	branch = 4.8
